<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{# each users }}
<div class="row">
  {{# each this}}
  <div class="col-sm-4">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{this.username}}</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Više sadržaja</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}